.android
.AndroidStudio*
.aspnet
.cache
.config
.cfg
.dotnet
.gradle
.local
.node-gyp
.npm
.nuget
.m2
.mozilla
.omnisharp
.PlayOnLinux
.ssh
.steam
.vim/plugged
.vscode
.vscode-oss
.yarn
Android
Library
PlayOnLinux's virtual drives
